@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* Default styles for small screens */
.navbar-nav {
    gap: 2rem;
    /* Add gap between nav items */
}

/* Adjust font size on smaller screens */
.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar-toggler {
    display: block;
}

/* Media query for larger screens */
@media (min-width: 640px) {
    .navbar-nav {
        gap: 4rem;
    }
}